@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background: black url('imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section.cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('imagens/frame-iphone.png') no-repeat;
    width: 311px;
    height: 627px;
}

section.cell iframe{
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 469px;
}

section.icons{
    text-align: right;
}

section.icons img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}

section.icons img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.3s;
}