@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black url('imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
}

img.cell{
    margin: 0;
}