@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background: black url('imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section.cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('imagens/frame-iphone.png') no-repeat;
    width: 311px;
    height: 627px;
}

section.cell iframe{
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 469px;
}

section.icons{
    text-align: right;
}

section.icons img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box; /*Para não mexer nos outros icones assim que receber border*/
}

section.icons img:hover{ /*qunando o mouse passar por cima recebe:*/
    border: 2px solid rgba(255, 255, 255, 0.603); /*Borda de dois px branca*/
    transform: translate(-3px, -3px); /*Se move 3px pra cima e direita, dando sensação de destaque*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603); /*Sombra mais forte e maior*/
    transition: transform 0.3s; /*transform recebe uma transição de 0.3s, dando sensação de movimento*/
}